/* we are creating a border box */ 
p {color: #101820FF;
font-size:40px;}
*{box-sizing: border-box;
}
body {background-color: lavender; 
color:purple;}
.topnav{ background-color:#234E70;
overflow: hidden
}
.topnav a{color:aquamarine;
float:left;
display:block;
text-align:center;
padding:10px 11px; }

.topnav a:hover{
  background-color:#FBF8BE;
  color: black ;
}
.header { 
  background-color: #234E70 ;
  padding:1px;
  text-align:center;
  color:aquamarine; }
  